@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Additional Programs ======= -->
<!-- Summer Camp -->
<section id="about">
    <div class="container mtop">
        <h2 style="text-align: center">Additional <span class="text-danger fw-bold">Programs</span></h2>
        <hr class="hline">
        <div class="row">
            <div class="col-md-12 p-2 fade-in">
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container" style="border-radius: 20px 0px 0px 20px;">
                                <img class="img-fluid"  style="height:500px;" src="~/img/oimg001.jpg">
                            </div>
                        </div>
                        <div class="col-md-8  p-5">
                            <div class="card-header bg-white">
                                <h2 class="fw-bold atitle">Summer Camp</h2>
                            </div>
                            <div class="card-body p-3">
                                <p class="apara">Ignite your child's summer with Martial Arts! Unleash their inner champion through energizing workouts, new friendships, and boundless fun!</p>
                                <ul>
                                    <li class="alist"><i class="fa-solid fa-check"></i> Day Trips: Laser Quest, Zoo, Science Centre</li>
                                    <li class="alist">
                                        <i class="fa-solid fa-check"></i> Discipline, Respect & Focus
                                    </li>
                                    <li class="alist"><i class="fa-solid fa-check"></i> Self Defence & Street Safety</li>
                                </ul>
                                <div class="card-footer bg-white">
                                    <span itemprop="telephone">
                                        <a class="cta-btn btn btn-danger rounded-pill btn-lg" href="tel:(416) 366-6661">Call Now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Birthday Parties -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2 fade-in">
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container" style="border-radius:20px 0px 0px 20px;">
                                <img class="img-fluid" style="height:550px;" src="~/img/birthday.jpg">
                            </div>
                        </div>
                        <div class="col-md-8 p-5">
                            <div class="card-header bg-white">
                                <h2 class="fw-bold atitle">Birthday Parties</h2>
                            </div>
                            <div class="card-body">
                                <p class="apara">Book Your Birthday Party Here</p>
                                <p class="apara">Food, Games, & Entertainment</p>
                                <p><i>Package Includes:</i></p>
                                <ul>
                                    <li class="alist"><i class="fa-solid fa-check"></i> A 1-2 hour long fast-paced and well-organized party</li>
                                    <li class="alist">
                                        <i class="fa-solid fa-check"></i> All Clean up included afterwards
                                    </li>
                                    <li class="alist"><i class="fa-solid fa-check"></i> A Free Martial Arts Lesson</li>
                                    <li class="alist"><i class="fa-solid fa-check"></i>Birthday person gets to cut their cake with a Martial Arts sword</li>
                                </ul>
                                <div class="card-footer bg-white">
                                    <span itemprop="telephone">
                                        <a class="cta-btn btn btn-danger rounded-pill btn-lg" href="tel:(416) 366-6661">Call Now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= Back to top Arrow ======= -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="fa-solid fa-arrow-up"></i>
</a>