@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Classes ======= -->
<section id="classes">
    <div class="container mtop">
        <h2 style="text-align: center">Our <span class="text-danger fw-bold">Classes</span></h2>
        <hr class="hline">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/regular.jpg" alt="Blog 1">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>Taekwondo</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/sparring.jpg" alt="Blog 2">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>Self Defence</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/kickbox.jpg" alt="Blog 3">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>Kickboxing</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/bo001.jpg" alt="Blog 6">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>BO Pattern</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/meditate.jpg" alt="Blog 4">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>Health & Wellness</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 fade-in">
                <div class="blog-card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/female.jpg" alt="Blog 5">
                        <div class="image-overlay">
                            <h6 class="card-subtitle mb-2 text-theme-colored ctype"><b>Female Classes</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
</section>
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="text-align:center">Payment <span class="text-danger fw-bold">Plan</span></h2>
            <hr class="hline">
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Trial Classes</h3>
                    <h4><sup>$</sup>24.99<span>3 Classes+ FREE UNIFORM</span></h4>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> 3-Day safisfication guranteed</li>
                        <li><i class="fa-solid fa-check"></i> Flexible Payment Plans included</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Unlimited Classes</h3>
                    <h4><sup>$</sup>100<span>per month</span></h4>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Access to unlimited classes a week</li>
                        <li><i class="fa-solid fa-check"></i> Flexible Schedule</li>
                    </ul>
                    <div class="box-top bg-danger p-2 text-center text-white">
                        <h5 class="mt-1">BEST DEAL!</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>Limited Classes</h3>
                    <h4><sup>$</sup>90<span>per month</span></h4>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Access to 2 classes a week</li>
                        <li><i class="fa-solid fa-check"></i> Flexible Schedule</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- ======= Back to top Arrow ======= -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="fa-solid fa-arrow-up"></i>
</a>
<!-- ======= Time Schedule ======= -->
<div class="container">
    <div class="schedule-container">
        <h2 class="text-center">Time <span class="text-danger fw-bold">Schedule</span></h2>
        <hr class="hline">
        <div class="download-button">
            <a href="~/img/schedule.pdf" class="btn btn-primary" target="_blank" download>
                <i class="fa-solid fa-arrow-down" style="margin-right:5px;"></i>Download Schedule
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Monday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-success text-white rounded-pill px-15 py-10">IN-PERSON</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>ONE STEP SPARRING & SELF DEFENSE</b><br>4:45 pm - 5:30 pm<br>(Yellow Belts & up - All Ages)</li>
                            <hr>
                            <li class="list-group-item"><b>ONE STEP SPARRING & SELF DEFENSE</b><br>5:45 pm - 6:30 pm<br> Green - Blue/Red (10 years old & over)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Tuesday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-primary text-white rounded-pill px-15 py-10">ONLINE</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>FORMATION AND PATTERNS</b><br>5:00 pm - 5:45 pm <br>RED-BLACK BELT</li>
                            <hr>
                            <li class="list-group-item"><b>FORMATION AND PATTERNS</b><br>5:45 pm - 6:30 pm <br>White - Orange (4-6 years old)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Wednesday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-success text-white rounded-pill px-15 py-10">IN-PERSON</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>SPARRING TECHNIQUE</b> <BR>4:45 pm - 5:30 pm <br>(Yellow/Orange - Red & All Ages)</li>
                            <hr>
                            <li class="list-group-item"><b>SPARRING TECHNIQUE & PATTERNS</b><br>5:45 pm - 6:30 pm <br>Green - Blue/Red (10 years old & over)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Thursday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-primary text-white rounded-pill px-15 py-10">ONLINE</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>ONE STEP SPARRING & SELF DEFENSE</b><br>5:00 pm - 5:45 pm <br>RED - BLACK BELT</li>
                            <hr>
                            <li class="list-group-item"><b>ONE STEP SPARRING & SELF DEFENSE</b><br>5:45 pm - 6:30 pm <br>White - Orange (4-6 years old)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Friday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-success text-white rounded-pill px-15 py-10">IN-PERSON</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>BO PATTERN & BOARD BREAKING</b><br>11:00 am - 11:45 pm <br>(Blue - Red/Black All Ages)</li>
                            <hr>
                            <li class="list-group-item"><b>FORMATION AND PATTERNS</b><br>12:00 pm - 12:45 pm <br>Sparring (Yellow/Orange - Black & All Ages)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="card">
                    <h5 class="card-header text-center p-3 sctitle">Saturday</h5>
                    <div class="col-md-6 justify-content-center mt-2 m-auto">
                        <h6 class="card-header text-center bg-success text-white rounded-pill px-15 py-10">IN-PERSON</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><b>FORMATION AND PATTERNS</b><br>11:00 am - 11:45 am White - Yellow/Orange (All Ages)</li>
                            <hr>
                            <li class="list-group-item"><b>SPARRING TECHNIQUE</b><br>11:45 am - 12:30 pm Orange - Blue/Red (All Ages)</li>
                            <hr>
                            <li class="list-group-item"><b>ADULT</b><br>12:30 pm - 1:30 pm RED - BLACK (All Ages)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

