@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Instructors ======= -->
<div class="container mtop">
    <h2 class="text-center">Our <span class="text-danger fw-bold">Instructors</span></h2>
    <hr class="hline">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top">
                        <img class="img-fluid" src="~/img/staff01.jpg" alt="Instructor 1">
                    </div>
                    <div class="card-body">

                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:25px;padding-left:10px;">
                            <b>Raphael Wright</b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px; font-weight:bold;">Senior Instructor</p>
                        <p class="card-text" style=" padding-left:10px">BLACK BELT • 3rd DAN</p>

                    </div>
                <hr class="text-danger text-dark" style="border: 4px solid; margin: 10px 25px; opacity:1; border-radius:20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top">
                    <img class="img-fluid" src="~/img/staff002.jpg" alt="Instructor 2">
                    </div>
                    <div class="card-body">

                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:25px;padding-left:10px;">
                            <b>Khile Goveia</b>
                        </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">Senior Instructor</p>
                        <p class="card-text" style=" padding-left:10px">BLACK BELT • 4th Dan</p>

                    </div>
                <hr class="text-danger text-dark" style="border: 4px solid; margin: 10px 25px; opacity:1; border-radius:20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2 ">
                <div class="blog-card card">
                    <div class="card-img-top" >
                    <img class="img-fluid" src="~/img/staff003.jpg" alt="Instructor 3">
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:25px;padding-left:10px">
                            <b>Nicholas Dusard</b>
                        </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">Senior Instructor</p>
                        <p class="card-text" style=" padding-left:10px">BLACK BELT • 3rd DAN</p>

                    </div>
                <hr class="text-dark hline2">
                </div>
            </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="blog-card card">
                <div class="card-img-top">
                    <img class="img-fluid" src="~/img/staff005.jpg" alt="Instructor 4">
                </div>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-theme-colored"
                        style="margin-top:10px; font-size:25px;padding-left:10px;">
                        <b>Janice Simms</b>
                    </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">General Manager</p>
                    <p class="card-text" style=" padding-left:10px">BLACK BELT • 3rd Dan</p>

                </div>
                <hr class="text-dark hline2">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="blog-card card">
                <div class="card-img-top">
                    <img class="img-fluid" src="~/img/staff006.jpg" alt="Instructor 5">
                </div>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-theme-colored"
                        style="margin-top:10px; font-size:25px;padding-left:10px;">
                        <b>Elyas Rahimi</b>
                    </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">Instructor</p>
                    <p class="card-text" style=" padding-left:10px">BLACK BELT • 1st Dan</p>

                </div>
                <hr class="text-dark hline2">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2 ">
            <div class="blog-card card">
                <div class="card-img-top">
                    <img class="img-fluid" src="~/img/staff004.jpg" alt="Instructor 6">
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-theme-colored"
                        style="margin-top:10px; font-size:25px;padding-left:10px">
                        <b>Hemang Brahmbhatt</b>
                    </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">Instructor</p>
                    <p class="card-text" style=" padding-left:10px">BLACK BELT • 1st DAN</p>

                </div>
                <hr class="text-dark hline2">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="blog-card card">
                <div class="card-img-top">
                    <img class="img-fluid" src="~/img/staff005.jpg" alt="Instructor 7">
                </div>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-theme-colored"
                        style="margin-top:10px; font-size:25px;padding-left:10px;">
                        <b>Allisha Hassan</b>
                    </h6>
                    <p class="card-text" style=" padding-left:10px; font-weight:bold;">Instructor</p>
                    <p class="card-text" style=" padding-left:10px">BLACK BELT • 1st Dan</p>

                </div>
                <hr class="text-dark hline2">
            </div>
        </div>

</div>
    <!-- ======= Back to top Arrow ======= -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
